<div ng-controller='ChampionshipsCtrl'>
	<div class="jumbotron">
      <div class="container change-view-animation">
        <h1>Чемпіонати</h1>
        <p>Списки футбольних команд</p>
      </div>
    </div>
	<div class="container">
		<div class="row">
			<div class="change-view-animation" ui-view></div>
			
			<div class="panel-heading">
				<div class="row">
					<div class="col-xs-12 col-sm-3 col-md-3">
						<form>
						    <div class="form-group">
						      <div class="input-group">
						        <div class="input-group-addon"><i class="glyphicon glyphicon-search"></i></div>

						        <input type="text" class="form-control" placeholder="Пошук" ng-model="searchItem">

						       </div>      
						    </div>
					   </form>
				   </div>
				   <div class="col-xs-12 col-sm-3 col-md-3">
						<button class="btn btn-primary" ng-click="sortReverse = !sortReverse">Сортувати за номером
						</button> 
				   </div>
				</div>
			</div>
		
			<div class="col-xs-12 col-sm-3 col-md-3 change-view-animation" ng-repeat="championship in championships | orderBy:orderByFunction:sortReverse | filter:searchItem track by $index" >

				<div class="info">
					<div class="thumbnail">
						<img ng-src="{{imageChamp + championship.image}}" style="height:150px;" alt="{{item.title}}">
					</div>
					<p class="page-header"><strong>Країна :</strong> {{championship.name}}</p>
					<p ng-hide="{{!championship.sename}}" class="page-header"><strong>Ліга :</strong> {{championship.sename}}</p>
					<p class="page-header"><strong>Порядковий номер :</strong> {{championship.num_order}}</p>
					<p class="page-header" ui-sref=".teamsByChampionship({id: championship.id_championship})" ng-click="getTeams(championship.id_championship, championship.sename, championship.name); "><a href="">Список команд</a></p>
			    </div>
			</div>
		</div>
	</div>

	
</div>