<div ng-controller="ChampionshipsCtrl">
    <div class="container" ng-show="showTable">
    	<div class="row">
    		<div class="col-xs-12">
    			<h3 class="page-header header">Список команд чемпіонату {{champName}} {{champSename}}</h3>
    		</div>
			<div class="col-xs-12">
				<table class="table table-bordered table-striped change-view-animation">
					<thead>
						<tr title="Для сортування таблиці, натисніть відповідний заголовок таблиці">
							<td><a href="" ng-click="sortType = 'name'; sortReverse = !sortReverse;">Клуб</br>
						    	<span ng-show="sortType == 'name' && !sortReverse" class="glyphicon glyphicon-chevron-down state-icon"></span>
						    	<span ng-show="sortType == 'name' && sortReverse" class="glyphicon glyphicon-chevron-up state-icon"></span>
						    	</a></td>


						    <td><a href="" ng-click="sortType = 'foundation_year'; sortReverse = !sortReverse;">Рік заснування</br>
						    	<span ng-show="sortType == 'foundation_year'&& !sortReverse" class="glyphicon glyphicon-chevron-down state-icon"></span>
						    	<span ng-show="sortType == 'foundation_year' && sortReverse" class="glyphicon glyphicon-chevron-up state-icon"></span>
						    	</a></td>

							<td><a href="" ng-click="sortType = 'city'; sortReverse = !sortReverse;">Місто</br>
						    	<span ng-show="sortType == 'city' && !sortReverse" class="glyphicon glyphicon-chevron-down state-icon"></span>
						    	<span ng-show="sortType == 'city' && sortReverse" class="glyphicon glyphicon-chevron-up state-icon"></span>
						    	</a></td>

						    <td><a href="" ng-click="sortType = 'coach'; sortReverse = !sortReverse;">Тренер</br>
						    	<span ng-show="sortType == 'coach' && !sortReverse" class="glyphicon glyphicon-chevron-down state-icon"></span>
						    	<span ng-show="sortType == 'coach' && sortReverse" class="glyphicon glyphicon-chevron-up state-icon"></span>
						    	</a></td>

						    <td><a href="" ng-click="sortType = 'president'; sortReverse = !sortReverse;">Президент</br>
						    	<span ng-show="sortType == 'president' && !sortReverse" class="glyphicon glyphicon-chevron-down state-icon"></span>
						    	<span ng-show="sortType == 'president' && sortReverse" class="glyphicon glyphicon-chevron-up state-icon"></span>
						    	</a></td>

						    <td><a href="" ng-click="sortType = 'home_stadion'; sortReverse = !sortReverse;">Стадіон</br>
						    	<span ng-show="sortType == 'home_stadion' && !sortReverse" class="glyphicon glyphicon-chevron-down state-icon"></span>
						    	<span ng-show="sortType == 'home_stadion' && sortReverse" class="glyphicon glyphicon-chevron-up state-icon"></span>
						    	</a></td>

						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="team in teams | orderBy:sortType:sortReverse track by $index">
							<td>{{ team.name }}</td>
							<td>{{ team.foundation_year }}</td>
						    <td>{{ team.city }}</td>
						    <td>{{ team.coach }}</td>
						    <td>{{ team.president }}</td>
						    <td>{{ team.home_stadion }}</td>
					    </tr>
					</tbody>
				  
				</table>		
			</div>
		</div>
	</div>		
</div>