<div ng-controller="HomeCtrl">
    <div class="nav">
      <div class="container">
        <ul class="pull-left">
          <li><a class="glyphicon glyphicon-home" ui-sref="home.main" title="Головна сторінка"></a>
          </li>
          <li ui-sref-active="active"><a  ui-sref=".championships">Чемпіонати</a></li>
          <li ui-sref-active="active"><a ui-sref=".teams">Команди</a></li>
        </ul>
      </div>
    </div>
  <div ui-view></div>
</div>