<div ng-controller="HomeCtrl">
    <div class="jumbotron">
      <div class="container change-view-animation">
        <h1>Футбол</h1>
        <p>Актуальна інформація про останні чемпіонати та команди</p>
      </div>
    </div>		
</div>