<div ng-controller='TeamsCtrl'>
	<div>
		<div class="jumbotron">
		  <div class="container change-view-animation">
		    <h1>Футбольні команди</h1>
		    <p>Список футбольних клубів</p>
		  </div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="panel-heading">
				<div class="row">
					<div class="col-xs-12 col-sm-3 col-md-3">
						<form>
						    <div class="form-group">
						      <div class="input-group">
						        <div class="input-group-addon"><i class="glyphicon glyphicon-search"></i></div>

						        <input type="text" class="form-control" placeholder="Пошук" ng-model="searchItem">

						       </div>     
						    </div>
					   </form>
				   </div>
				   <div class="col-xs-12 col-sm-3 col-md-3">
						<button class="btn btn-primary" ng-click="sortType = 'name'; sortReverse = !sortReverse">Сортувати за командами
						</button> 
				   </div>
				   <div class="col-xs-12">
				   	    <dir-pagination-controls
						    max-size="16"
						    direction-links="true"
						    boundary-links="true" >
						</dir-pagination-controls>
				   </div>
				</div>
			</div>
		    <div class="col-xs-6 col-sm-3 col-md-3 change-view-animation" dir-paginate="team in teams | filter:searchItem
		    |itemsPerPage:16 |orderBy:sortType:!sortReverse track by $index" >
			    <div class="info">
			    	<div ng-hide="{{!team.emblema}}" class="thumbnail">
						<img ng-src="{{imageTeam + team.emblema}}" style="height: 100px;">
					</div>
					<p ng-hide="{{!team.name}}"class="page-header"><strong>Команда :</strong></br>{{team.name}}</p>
					<div accordion close-others="true">
					<div accordion-group ng-init="status = {isOpen: false}" is-open="status.isOpen">
						<div accordion-heading>
							<p>Детальна інформація
								<span ng-if="!status.isOpen" class="glyphicon glyphicon-chevron-down state-icon">
								</span>
								<span ng-if="status.isOpen" class="glyphicon glyphicon-chevron-up state-icon"></span>
							</p>
						</div>
						<div>
							<p ng-hide="{{!team.city}}" class="page-header"><strong>Місто :</strong></br>{{team.city}}
							</p>
							<p ng-hide="{{!team.president}}" class="page-header"><strong>Президент :</strong></br>{{team.president}}</p>
							<p ng-hide="{{!team.coach}}" class="page-header"><strong>Тренер :</strong></br>{{team.coach}}</p>
							<p ng-hide="{{!team.home_stadion}}" class="page-header"><strong>Стадіон :</strong></br>{{team.home_stadion}}</p>
							<p ng-hide="{{!team.foundation_year}}" class="page-header"><strong>Рік заснування :</strong></br>{{team.foundation_year}}</p>
							<p ng-hide="{{!team.off_site}}" class="page-header"><strong>Офіційний сайт :</strong></br>
								<a ng-href="{{team.off_site}}"  target="_blank">{{team.off_site}}</a>
							</p>
	 						<p ng-show="{{!team.coach && !team.home_stadion && !team.foundation_year && !team.off_site }}">
								Немає даних
							</p>
							
						</div>
					</div>
					<div accordion close-others="true">
					<div accordion-group ng-init="status = {isOpen: false}" is-open="status.isOpen">
						<div accordion-heading>
							<p>Нагороди
								<span ng-if="!status.isOpen" class="glyphicon glyphicon-chevron-down state-icon">
								</span>
								<span ng-if="status.isOpen" class="glyphicon glyphicon-chevron-up state-icon"></span>
							</p>
						</div>
						<div>
							<p class="page-header" ng-bind-html="team.title"></p>
							<p ng-show="{{!team.title}}">
								Немає даних
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>		
</div>