body {
  font-family: 'Shift', sans-serif;
}
.header {
  text-align: center;
}
table, th , td {
  border: 1px solid #ccc;
  border-collapse: collapse;
  padding: 7px;
  margin: auto;
  text-align: center;
  font-size: 15px;
}
table tr:nth-child(odd) {
  background-color: #f1f1f1;
}
table tr:nth-child(even) {
  background-color: #ffffff;
}
.active {
    text-decoration: underline;
    }
.nav {

  a {
    color: #5a5a5a;
    font-size: 15px;
    padding: 24px 12px;
    text-transform: uppercase;

  }
  
  p {
    padding: 24px 12px;
  }
  
  li {
    display: inline;
  }
}

.jumbotron {
  background-image:url("/img/players.jpg");
  height: 400px;
  background-repeat: no-repeat;
  background-size: cover;

  .container {
    position: relative;
    top:100px;

    .change-view-animation.ng-enter {
        transition: .7s linear all;
        opacity: 0;
      }
      .change-view-animation.ng-enter.ng-enter-active {
        opacity: 1;
      }
  }

  h1 {
    color: #fff;
    font-size: 48px;  
    font-weight: bold;
  }

  p {
    font-size: 15px;
    color: #fff;
    margin-left: 10px;
  }
}

.info {
  background-color: #f7f7f7;
  text-align: center;

  p {
    font-size: 16px;
  }

  a {
    color: #00b0ff;
  }
}

@font-face {
  font-family: 'Shift';
  font-style: normal;
  font-weight: normal;
  src: url("/fonts/shift.woff") format("woff");
}
@font-face {
  font-family: 'Shift';
  font-style: normal;
  font-weight: bold;
  src: url("/fonts/shift-bold.woff") format("woff");
}

.change-view-animation.ng-enter {
  transition: .7s linear all;
  opacity: 0;
}
.change-view-animation.ng-enter.ng-enter-active {
  opacity: 1;
}